{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "src": "./src",
        "ubex": "./src/ubex",
        "test": "./__tests__"
      }
    }]
  ]
}
